
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Instructions</title>
</head>
<body>
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8" style="font-size:medium">
            <h3>Rules to follow during exams:</h3>
            <h2>
                A. General information:
            </h2>
            <ul>
                <li>
                    The examination will comprise of Objective type Multiple Choice Questions (MCQs)
                </li>
                <li>
                    All questions are compulsory and each carries One mark.
                </li>

                <li>
                    There will be NEGATIVE MARKING (0.25) for the wrong answers.
                </li>

            </ul>

            <h2>
                B. Information & Instructions:
            </h2>
            <ul>
                <li>
                    The examination does not require using calculator.
                </li>
                <li>
                    Every student will take the examination on a Laptop/Desktop
                </li>
                <li>
                    On computer screen every student will be given objective type type Multiple Choice
                    Questions (MCQs).
                </li>
                <li>
                    Each student will get questions and answers in different order selected randomly
                    from a fixed Question Databank.
                </li>
                <li>
                    The students just need to click on the Right Choice / Correct option from the
                    multiple choices /options given with each question. For Multiple Choice Questions,
                    each question has four options, and the candidate has to click the appropriate
                    option.
                </li>
                <li>
                    The Time of the examination begins only when the ‘Start Test’ button is pressed.
                </li>
                <li>
                    The student proceeds answering the questions one by one by clicking on the small
                    grey circle next to the chosen answer.

                </li>
                <li>
                    The examinee can move to First, Last, Previous, Next and unanswered questions by
                    clicking on the buttons with respective labels displayed on screen throughout the
                    test.
                </li>
                <li>
                    It is possible to Review the answered as well as the unanswered questions.
                </li>
                <li>
                    The Time remaining is shown in the Right Top Corner of the screen.
                </li>
                <li>
                    The system automatically shuts down when the time limit is over OR alternatively if
                    examinee finishes the exam before time he can quit by pressing the ‘End Test’
                    button. The students don’t click the “END TEST” Button until the student want to
                    quit from Examination
                </li>
            </ul>
            <p style="text-align:center;"><a href="@Url.Action("ExamDetails","Exam")" class="btn btn-primary rounded-0 px-4">Start Exam</a></p>
        </div>
        <div class="col-sm-2">
        </div>
    </div>
</body>
</html>
