@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('images/bg_1.jpg')">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h2 class="mb-0">About Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </div>
        </div>
    </div>
</div>


<div class="custom-breadcrumns border-bottom">
    <div class="container">
        <a href="#">Home</a>
        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">About Us</span>
    </div>
</div>

<div class="container pt-5 mb-5">
    <div class="row">
        <div class="col-lg-4">
            <h2 class="section-title-underline">
                <span>Who We Are</span>
            </h2>
        </div>
        <div class="col-lg-8">
            <p>Eduxam LLP, is registered organization to provide education and takes examination of all those who wants to learn and wants to get themselves evaluated.</p>
            <p>Eduxam is Education + Examinations, Educam is an Indian digital education platform founded and registered as per Indian companies act.</p>
            <p>We provide platform for students to learn and we evaluate the students and provide certificates.</p>
            <p>Schollarships are earned by students who achieves higher marks and ranked in top seeds,</p>
        </div>
        
    </div>
</div>

<div class="container pt-5 mb-5">
    <div class="row">
        <div class="col-lg-4">
            <h2 class="section-title-underline">
                <span>Our Vision</span>
            </h2>
        </div>
        <div class="col-lg-8">
            <p>Future is based on learning, and learning is also rewarding.</p>
            <p>Learn and master your subjects, it will reward right from the stage of learning.</p>
            <p>Earn scholarships by just giving our periodic examinations.</p>
        </div>

    </div>
</div>