
@{
    ViewBag.Title = "Index";
    <!-- Latest compiled and minified CSS -->

}

<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('images/faqs.jpg')">
    <div class="container">
        <div class="row align-items-end justify-content-center text-center">
            <div class="col-lg-7">
                <h2 class="mb-0">FAQ</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </div>
        </div>
    </div>
</div>

<div class="custom-breadcrumns border-bottom">
    <div class="container">
        <a href="@Url.Action("Index","Home")">Home</a>

        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">FAQ</span>
    </div>
</div>
<div class="site-section">
    <div class="container">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            1)	What are the eligibility criteria for EST (Eduxam Scholarship Test)?
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        Any resident Indian student from standard 4th to 12th all boards of Gujarat can take part in the examination. For all standards there would be different papers for each class.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            2)	Which standard should I select during registration?
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        Student may choose current standard in which she is doing study.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            3)	Which board of examination should I choose during registration?
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        Student may select current board in which he/she study.
                    </div>
                </div>
            </div>


            <div class="card">
                <div class="card-header" id="heading4">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapse4" aria-controls="collapseOne">
                            4)	How much are the registration fee?
                        </button>
                    </h2>
                </div>

                <div id="collapse4" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">

                    <div class="card-body">
                        Fees are ₹ 100 + taxes.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapse5" aria-expanded="false" aria-controls="collapseTwo">
                            5)	What is the test pattern for EST?
                        </button>
                    </h2>
                </div>
                <div id="collapse5" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        Test Paper will contain Mathematics, Science, Social study, General Knowledge and English.
                        <br />There will be multiple choice questions, all questions are objective with four options, only one of them will be correct. Each correct answer will be awarded with Plus two marks and wrong answers will deduct 0.5 marks for each question.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapse6" aria-expanded="false" aria-controls="collapseThree">
                            6)	Can I attempt EST on all dates?
                        </button>
                    </h2>
                </div>
                <div id="collapse6" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        No, Date will be declared on the official website and registered candidate will get notification via text message or Email.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapse7" aria-expanded="false" aria-controls="collapseThree">
                            7)	What is the syllabus of EST?
                        </button>
                    </h2>
                </div>
                <div id="collapse7" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        Standard 4th syllabus is Mathematics, English, Social study, Science, as per board syllabus and General knowledge.
                        <br />Standard 5th syllabus is Mathematics, English, Social study, Science, as per board syllabus and General knowledge.
                        <br />Standard 6th syllabus is Mathematics, English, Social study, Science, as per board syllabus and General knowledge. Standard 4th syllabus is Mathematics, English, Social study, Science, as per board syllabus and General knowledge.
                        <br />Standard 7th syllabus is Mathematics, English, Social study, Science, as per board syllabus and General knowledge.
                        <br />Standard 8th syllabus is Mathematics, English, Social study, Science, as per board syllabus and General knowledge.
                        <br />Standard 9th syllabus is Mathematics, English, Social study, Science, as per board syllabus and General knowledge.
                        <br />Standard 10th syllabus is Mathematics, English, Social study, Science, as per board syllabus and General knowledge.
                        <br />Standard 11th syllabus is Mathematics, Reasoning, English and General Knowledge.
                        <br />Standard 12th syllabus is Mathematics, Reasoning, English and General Knowledge.

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapse8" aria-expanded="false" aria-controls="collapseThree">
                            8)	What will be EST exam date?
                        </button>
                    </h2>
                </div>
                <div id="collapse8" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        Exam date will be held on 5th and 6th March 2022, standard wise examination will be informed to each registered candidate on their mobile and email, and student can also check there examination date on our website and also by login to their account.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapse9" aria-expanded="false" aria-controls="collapseThree">
                            9)	When will be EST Results announced?
                        </button>
                    </h2>
                </div>
                <div id="collapse9" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        Results will be announced within two to three weeks of Examination date.
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapse10" aria-expanded="false" aria-controls="collapseThree">
                            10)	Will I get a reward for attempting EST?
                        </button>
                    </h2>
                </div>
                <div id="collapse10" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        Yes of course, Every EST attendee will get a certificate for passing examination.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapse11" aria-expanded="false" aria-controls="collapseThree">
                            11)	What is the mode of Examination?
                        </button>
                    </h2>
                </div>
                <div id="collapse11" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        EST is completely online, you just need a smart phone, a Laptop or Desk top with internet connection to give test.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapse12" aria-expanded="false" aria-controls="collapseThree">
                            12)	What if I get late due to some reason in starting test?
                        </button>
                    </h2>
                </div>
                <div id="collapse12" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        It is important to start test on time and we highly recommend every student to start on given time, However due to some unforeseen situation If you could not start on time, you can join the examination but time of submission of test will not ge changed, i.e. If you start late you will get lesser time to submit the test.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapse13" aria-expanded="false" aria-controls="collapseThree">
                            13)	What if I could not give test on date or remain absent on test date?
                        </button>
                    </h2>
                </div>
                <div id="collapse13" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        If you remain absent on the EST examination date you will have to register again for any upcoming test declared from time to time.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapse14" aria-expanded="false" aria-controls="collapseThree">
                            14)	How many marks do I need to get scholarship?
                        </button>
                    </h2>
                </div>
                <div id="collapse14" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        Scholarship will be given to students as per the rank and price money will be from ₹ 2,00,000/- to ₹200/- Cut off rank for scholarship will be declared by EST.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapse15" aria-expanded="false" aria-controls="collapseThree">
                            15)	How will I get price money?
                        </button>
                    </h2>
                </div>
                <div id="collapse15" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        Students who have earned scholarship will get price money through online method directly in bank accounts; Bank account number will have to be updated by student in login section. Also Top rankers may be invited for EST scholarship ceremony where they may be given cheque of scholarship.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapse16" aria-expanded="false" aria-controls="collapseThree">
                            16)	If I fail to gent scholarship once, Can I attempt the EST again?
                        </button>
                    </h2>
                </div>
                <div id="collapse16" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        Yes, you can register again for the next test and give EST.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapse17" aria-expanded="false" aria-controls="collapseThree">
                            17)	Is there a physical center for EST?
                        </button>
                    </h2>
                </div>
                <div id="collapse17" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        No there are no physical centers, EST is an online test, you will be able to attempt the test from any smart phone, a laptop or desktop or tablet with an internet connection only.

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapse18" aria-expanded="false" aria-controls="collapseThree">
                            18)	When I need to login on test date?
                        </button>
                    </h2>
                </div>
                <div id="collapse18" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        Before 15 minutes of the test.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapse19" aria-expanded="false" aria-controls="collapseThree">
                            19)	What if I forgot my password for EST login?
                        </button>
                    </h2>
                </div>
                <div id="collapse19" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        On EST website (www.EDUXAM.IN), click on the login button, now click on forgot password, you will get OTP on registered email ID, through that you will be able to reset your password.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapse20" aria-expanded="false" aria-controls="collapseThree">
                            20)	By mistake if I filled wrong information while registering for EST, How can I edit my profile information?
                        </button>
                    </h2>
                </div>
                <div id="collapse20" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        You can edit your profile information by login to EST Website with EST Login credentials, after login in click of edit profile button on your home page, after editing you need to click on save button.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapse21" aria-expanded="false" aria-controls="collapseThree">
                            21)	What if my test erroneously ends?
                        </button>
                    </h2>
                </div>
                <div id="collapse21" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        If your test ends erroneously without clicking on submit button due to a power failure or loss of internet connection you can resume the test by re logging but the time of ending exam will be the same.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapse22" aria-expanded="false" aria-controls="collapseThree">
                            22)	Can I take EST from multiple devices?
                        </button>
                    </h2>
                </div>
                <div id="collapse22" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        No, you cannot take EST from multiple devices.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapse23" aria-expanded="false" aria-controls="collapseThree">
                            23)	What if someone googles the answers?
                        </button>
                    </h2>
                </div>
                <div id="collapse23" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        All the questions are designed in a way that goggling wouldn’t help, but tab switching or navigation to other application is not allowed during the test.
                        Test will automatically submit if someone tries to do that.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapse24" aria-expanded="false" aria-controls="collapseThree">
                            24)	Can I use calculator?
                        </button>
                    </h2>
                </div>
                <div id="collapse24" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        Yes you can, there is no restriction on use of calculator.
                    </div>
                </div>
            </div>
        </div>
        <div class="container pt-5 mb-5">
            <div class="row">
                <div class="col-lg-4">
                    <h2 class="section-title-underline">
                        <span>Does and Don’ts</span>
                    </h2>
                </div>
                <div class="col-lg-8">
                    <ul>
                        <li>Do not Exit full screen mode while test is running, if you do so test will be submitted automatically.</li>
                        <li>Do not press escape button while test is running, It will submit the test automatically.</li>
                        <li>Do not change the devise or the browser while the exam is going on, if you do so test will be submitted automatically.</li>
                        <li>Do not click on any popup or notification from your system, browser or other application which are not part of EST test page.</li>
                        <li>We are also tracking the activities of candidates while test is going on.</li>
                        <li>
                            Pease ensure that you have sufficient memory, battery charged and internet connection before test starts.
                        </li>

                    </ul>
                </div>
                <div class="row" style="text-align:center;">
                    <p >
                        Who should I contact in case my queries are not answered here?
                        <br />Please email us <b>info@eduxam.in</b> if your queries are not answered here.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>