
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="loading-bar-spinner" class="spinner">
    <div class="spinner-icon">
    </div>
</div>
<link href="~/Assests/css/Loader.css" rel="stylesheet" />
<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('images/bg_1.jpg')">
    <div class="container">
        <div class="row align-items-end justify-content-center text-center">
            <div class="col-lg-7">
                <h2 class="mb-0">Register</h2>

            </div>
        </div>
    </div>
</div>

<div class="custom-breadcrumns border-bottom">
    <div class="container">
        <a href="@Url.Action("Index","Home")">Home</a>

        <span class="mx-3 icon-keyboard_arrow_right"></span>
        <span class="current">Register</span>
    </div>
</div>


<div class="site-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <label for="username">First Name <span style="color:red">*</span></label>
                        <input type="text" id="Fname" class="form-control form-control-lg">
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="pword2">Middle Name / Father's Name<span style="color:red">*</span></label>
                        <input type="text" id="FatherName" class="form-control form-control-lg">
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="pword">Last Name<span style="color:red">*</span></label>
                        <input type="text" id="LName" class="form-control form-control-lg">
                    </div>


                    <div class="col-md-4 form-group">
                        <label for="pword2">ContactNo<span style="color:red">*</span></label>
                        <input type="text" id="ContactNo1" class="form-control form-control-lg" maxlength="12">
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="pword2">Alternate ContactNo</label>
                        <input type="text" id="AltContact" class="form-control form-control-lg" maxlength="12">
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="pword2">EmailID<span style="color:red">*</span></label>
                        <input type="text" id="EmailID" class="form-control form-control-lg">
                    </div>

                    <div class="col-md-4 form-group">
                        <label for="pword2">Standard<span style="color:red">*</span></label>
                        <input type="text" id="Std" class="form-control form-control-lg">
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="pword2" id="lblMedium">Medium</label>
                        <input type="text" id="txtMedium" class="form-control form-control-lg">
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="pword2" id="lblstream">Stream</label>
                        <input type="text" id="AltEmail" class="form-control form-control-lg">
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="pword2" id="lblMedium">Country</label>
                        <input type="text" id="txtCountry" value="India" disabled class="form-control form-control-lg">
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="pword2" id="lblMedium">State</label>
                        <input type="text" id="txtState" class="form-control form-control-lg">
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="pword2" id="lblCity">City</label>
                        <input type="text" id="txtCity" class="form-control form-control-lg">
                    </div>

                    <div class="col-md-12 form-group">
                        <label for="pword2">Address<span style="color:red">*</span></label>
                        <textarea style="width:100%" id="address"></textarea>
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="pword2">School Name<span style="color:red">*</span></label>
                        <input type="text" id="SchoolName" class="form-control form-control-lg">
                    </div>

                    <div class="col-md-6 form-group">
                        <label for="pword2">School City<span style="color:red">*</span></label>
                        <input type="text" id="PrincipleName" class="form-control form-control-lg">
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="pword2">Apply For Scholarship<span style="color:red">*</span></label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Yes">
                            <label class="form-check-label" for="inlineRadio1">Yes</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="No">
                            <label class="form-check-label" for="inlineRadio2">No</label>
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <p><input type="checkbox"> I have read and accepted the <a href="@Url.Action("Index","TermsConditions")" target="_blank">terms and conditions </a>.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input type="submit" value="Register" class="btn btn-primary btn-lg px-5" id="btnSubmit">
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-success" role="alert" id="success">
                            Form submit successfully..!!
                        </div>
                        <div class="alert alert-danger" role="alert" id="failure">
                            Please fill the required (*) data..!!
                        </div>
                        <div class="alert alert-danger" role="alert" id="failure1">
                            Please select term and condition checkbox
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Thank you for registering with us. Your username and password will sent on your registred email id.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="btnOk">Ok</button>
            </div>
        </div>

    </div>
</div>

<script src="~/Assests/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $("#failure").hide();
    $("#failure1").hide();
    $("#success").hide();
    $("#AltEmail").hide();
    $("#lblstream").hide();
    //$("#btnSubmit").attr('disabled', 'disabled');
  $("#loading-bar-spinner").hide()
    $('input[type="checkbox"]').click(function () {
        if ($(this).prop("checked") == true) {
            $("#btnSubmit").removeAttr('disabled');

        }
        else if ($(this).prop("checked") == false) {
            $("#btnSubmit").attr('disabled', 'disabled');
        }
    });
    $("#btnSubmit").click(function () {
        var res = validation();
        if ($('input[type="checkbox"]').prop('checked') == true) {
            if (res == true) {
                $("#btnSubmit").attr('disabled', 'disabled');
                $("#loading-bar-spinner").show()
                var mdata = {};
                mdata.Name = $("#Fname").val();
                mdata.ParentName = $("#FatherName").val();
                mdata.SurName = $("#LName").val();
                mdata.ContactNumber = $("#ContactNo1").val();
                mdata.EmailId = $("#EmailID").val();
                mdata.Address = $("#address").val();
                mdata.AlternetContactNumber = $("#AltContact").val();
                mdata.Stream = $("#AltEmail").val();
                mdata.STD = $("#Std").val();
                mdata.Medium = $("#txtMedium").val();
                mdata.Country = $("#txtCountry").val();
                mdata.State = $("#txtState").val();
                mdata.City = $("#txtCity").val();
                mdata.SchoolName = $("#SchoolName").val();
                mdata.SchoolCity = $("#schlAddress").val();
                if ($('input[name="inlineRadioOptions"]:checked').val() == "Yes")
                    mdata.Apply_Scholarship = true
                else
                    mdata.Apply_Scholarship = false

                mdata.IsTCaccept = true;

                $.ajax({
                    type: "POST",
                    url: "/Register/StudentRegister",
                    data: JSON.stringify(mdata),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        if (result.id != 0) {
                            var sid = result.id;
                            var ScholarshipId = result.scholarshipid;
                            window.location.href = '@Url.Action("Index", "Payment")' + '?stdid=' + sid + '&ScholarshipId=' + ScholarshipId;
                        }
                       else if (result.scholarshipid == 0) {
                            $("#loading-bar-spinner").hide();
                            $("#myModal").modal();
                        }
                        else {
                            $("#btnSubmit").removeAttr('disabled');
                            $("#loading-bar-spinner").hide();

                            $("#failure").show();
                            $("#failure").fadeTo(2000, 500).slideUp(500, function () {
                                $("#failure").slideUp(500);
                            });
                        }
                    }
                });
            }
            else {
                $("#btnSubmit").removeAttr('disabled');
                $("#loading-bar-spinner").hide();

                $("#failure").show();
                $("#failure").fadeTo(2000, 500).slideUp(500, function () {
                    $("#failure").slideUp(500);
                });
            }
        }
        else {
            $("#btnSubmit").removeAttr('disabled');
            $("#loading-bar-spinner").show();
            $("#failure1").show();
            $("#failure1").fadeTo(2000, 500).slideUp(500, function () {
                $("#failure").slideUp(500);
                $("#loading-bar-spinner").slideUp(500);
            });
        }

    });

    $('#ContactNo1').keypress(function (e) {

        var charCode = (e.which) ? e.which : event.keyCode

        if (String.fromCharCode(charCode).match(/[^0-9]/g))

            return false;

    });

    $('#Std').keypress(function (e) {

        var charCode = (e.which) ? e.which : event.keyCode

        if (String.fromCharCode(charCode).match(/[^0-9]/g))

            return false;

    });

    $("#Std").focusout(function () {
        if ($("#Std").val() == "11" || $("#Std").val() == "12") {
            $("#AltEmail").show();
            $("#lblstream").show();
        }
        else {
            $("#AltEmail").hide();
            $("#lblstream").hide();
        }
    });

    $("#btnOk").click(function () {
     window.location.href = '@Url.Action("Index", "Scholarship")';
    });


    function validation() {
        var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;

        var phone = /[0-9 -()+]+$/;

        var result = false;
        if ($.trim($("#Fname").val()) != '') {
            result = true;
        }

        if ($.trim($("#LName").val()) != '') {
            result = true;
        }

        if ($.trim($("#FatherName").val()) != '') {
            result = true;
        }

        if ($.trim($("#ContactNo1").val()) != '') {
            var contactNo = ($.trim($("#ContactNo1").val()));

            if ((contactNo.length == 12) || (phone.test(contactNo))) {
                result = true;

            }

        }

        if ($.trim($("#EmailID").val()) != '') {
            var email = $.trim($("#EmailID").val());
            if (emailReg.test(email)) {
                result = true;
            }
            else {
                alert('Please enter a valid email address.');
            }
        }

        if ($.trim($("#Std").val()) != '') {
            result = true;
        }

        if ($.trim($("#address").val()) != '') {
            result = true;
        }

        if ($.trim($("#SubInt").val()) != '') {
            result = true;
        }
        if ($.trim($("#SchoolName").val()) != '') {
            result = true;
        }

        if ($.trim($("#PrincipleName").val()) != '') {
            result = true;
        }

        if ($('input[name="inlineRadioOptions"]:checked').length != 0) {
            result = true;
        }


        return result;

    }
</script>
